@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 75%;
    margin: 0 auto;
}

main > section{
    margin-top: 131px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700px;
    margin-bottom: 18px;
}

/* dark 2 */
.text-gray {
    color: #424242;
}

/* dark 3 */
.text-light-gray {
    color: #727272;
}

.primary-bg{
    background-color: rgba(255, 144, 14, 0.10);;
}

/* navbar styles */
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    gap: 30px;
}

.nav-items {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 75%;
    margin: 0 auto;
}

/* banner Styles */
.banner-content{
    max-width: 867px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}


.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 10px;
}

.banner-img{
    width:100% ;
    padding: 0 0 30px 0;
}
/* banner styles ends */

/* teams section starts here */
.teams{
    align-items: center;
    gap:50px;
}
.team-img-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.team-our-feature{
    max-width: 573px;
}


#our-feature-quick-list{
    font-weight: 500;
}

#our-feature-features{
    font-weight: 700;
    color:#FF900E
}


/* Facts section start */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    width:240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px 0 10px 0;
}

.fact-name{
    font-size:1.5rem;
    font-weight: 600;
    margin: 5px 0 10px 0;
    color: #727272;
}

.facts-description{
    max-width: 540px;
}










/* responsive design */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 20px;
    }
}


/* For medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }
}

